body {font-family: Arial, Helvetica, sans-serif;}
* {

    box-sizing: border-box}


.form{
    padding: 0% 30%;
}

input[type=password] , input[type=email]{
  width: 100%;
  padding: 15px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border-width: 1px;
  border-radius: 2%;
 
}

.text{
display: flex;
  flex-direction:row;

  
}
input[name=lastname]{
    float: right;
}
input[type=text]{
 width: 48%;
  padding: 15px;
  margin: 10px 0px 20px 0;
  
  border-width: 1px;
  border-radius: 2%;
 
}



hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}


.facebookbtn {
  background-color: blue;
  border: none;
  width: 48%;
}
.githubbtn{
  background-color: darkslategrey;
  border: none;
  width: 48%;
  margin-left: 4%;
}
.googlebtn{
   
    width: 100%;
     background-color: #ddd;
    color: black;
   
    border-color: black;
    border-width: 1px;
}
.alt-login{
    display: flex;
    flex-direction: row; 
}

.signupbtn{
    color: black;
    background-color:#f1f1f1;
    width: fit-content;
    border: none;
}
.psw{
  float: right;
  padding-top: 4%;
}

p a{
  color:dodgerblue;
}

.container {
  padding: 16px;
  border:1px solid #ccc
}
.or{
  margin: 2% 49%;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width:960px){
  .form{
    padding: 0%;
  }
}
@media screen and (max-width:480px){
    .form{
      padding:0%;
     
    }
    .alt-login{
      display: flex;
      flex-direction: column; 
  }

    .facebookbtn{
        width: 100%;
    }
   .githubbtn{
     width: 100%;
     margin-left: 0%;
   }

   .name{
     display: flex;
     flex-direction: column;
   }
   input[name=lastname]{
    width: 100%;
   }
   input[name=firstname]{
    width: 100%;
   }
}